<div class="menu">
  <ul class="rpane">
    <li class="search-container">
      <span class="sprites-search"></span>
      <span class="search-title">검색어 입력</span>
      <%= form_tag url_for(params.except(:page)), class: 'menu-search', method: :get, remote: true do %>
        <%= text_field_tag('query', @query, autocomplete: "off") %>
      <% end %>
      <% if @query %>
        <%= link_to url_for(params.except(:query, :page)), class: 'remove-query', remote: true do %>
          <span class="fa fa-times-circle"></span>
        <% end %>
      <% end %>
    </li>
    <li class="sort-container">
      <%= select_tag :sort, options_for_select(@brand.review_sort_types(@group_by).map {|t| [ReviewSort.t(t), url_for(params.merge(category_id: @category.try(:id), group: @group_by, sort: t).except(:page))]}, url_for(params.merge(category_id: @category.try(:id), group: @group_by, sort: @review_sort).except(:page))), class: 'select2' %>
    </li>
  </ul>
  <ul class="lpane">
    <li class="categories-container">
      <span>카테고리별 보기</span>
      <%= select_tag :category, options_for_select(@categories.map {|c| [c.name, url_for(params.merge(category_id: c.id, group: @group_by, sort: @review_sort))]}, url_for(params.merge(category_id: @category.try(:id), group: @group_by, sort: @review_sort))), prompt: '전체 보기', class: 'select2' %>
    </li>
  </ul>
</div>
