<% title @board ? @board.name : '전체 리뷰' %>
<% content_for :content do %>
  <%= content_tag :div, class: "widget widget-reviews pagination-list #{'no-data' if @reviews.empty?}" do %>
    <div class="widget-heading">
      <div class="widget-title">
        <%=raw @brand.widgets_reviews_index_title %>
      </div>
    </div>
    <div class="widget-body">
      <%= render 'top_menu' %>
      <ul class="header">
        <li>
          <div class="col index">번호</div>
          <div class="col photo">사진</div>
          <div class="col title">제목</div>
          <div class="col author">작성자</div>
          <div class="col created_at">작성일</div>
          <div class="col score">평점</div>
        </li>
      </ul>
      <%= content_tag :div, '아직 작성한 리뷰가 없습니다.', class: 'no-data-message' %>
      <ul class="reviews reviews-default">
        <%= render @reviews %>
      </ul>
    </div>
    <div class="widget-footer">
      <%= render 'pagination' %>
    </div>
  <% end %>
  <%= render 'common/shared/form_upload_image' %>
<% end %>
